.tap-item-details div{
  justify-self: start;
}


.tap-item-details:hover:not(#tap-names){
   border:solid 3px rgb(216, 33, 33) !important;
   color: green;
}

#details-buttons button:first-child{
  display: block;
  flex-grow: 4;
}

#details-buttons button:nth-child(2){
  display: block;
  margin-left: 4px;
  flex-grow: 1;
}